$dark-blue-900: #16161f;
$dark-blue-900-transparent: rgba(22, 22, 31, 0.6);
$dark-blue-800: #1a1b27;

$blue-700: #365aaa;
$blue-600: #4c6ca7;
$blue-500: #4782ff;

$cyan-700: #07404b;
$cyan-300: #00bfe6;

$red-400: #ff3867;

$orange-500: #ff8b4d;
$orange-400: #b88e4f;

$green-300: #89d651;

$purple-300: #c061ff;

$slate-700: #313750;
$slate-600: #41425d;
$slate-500: #5e6380;
$slate-400: #878aa6;
$slate-300: #a8a9bd;
$slate-200: #d0d0dc;
$slate-100: #f4f4f6;
