@use '../../styles/colors' as *;

.header {
  display: grid;
  place-items: center;

  height: 5rem;
  background-color: $dark-blue-900;

  &__navbar {
    width: min(90%, 100rem);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar__right {
      display: flex;
      gap: 0.5rem;
    }
  }
}
