@use '../../styles/colors' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  min-height: 5rem;

  display: grid;
  place-items: center;

  z-index: 1;
  background-color: $dark-blue-900;

  &.sticky {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    background-color: $cyan-700-transparent;
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
  }

  &__navbar {
    width: clamp(19rem, 90%, 100rem);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar__right {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 0.5rem;

      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    @media (max-width: 31.25rem) {
      .logo {
        display: none;
      }

      .navbar__right {
        flex-basis: 100%;
        justify-content: center;
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
