@use '../../styles/colors' as *;

.footer {
  background-color: $dark-blue-900;

  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    width: min(95%, 80rem);
    margin-inline: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__authors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.3rem;
    column-gap: 2rem;

    .github-link {
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }
  }

  &__year {
    color: $slate-200;
    text-align: center;
  }

  &__rs-logo {
    text-align: center;
  }

  .github-link,
  &__rs-logo {
    color: $slate-100;
    transition: 0.3s;

    &:hover {
      color: $cyan-300;
    }
  }
}

@media (min-width: 31.25rem) {
  .footer {
    &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0;
      align-items: end;
    }

    &__authors {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    &__rs-logo {
      text-align: end;
    }
  }
}

@media (min-width: 62.5rem) {
  .footer {
    &__authors {
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
