@use '../../styles/colors' as *;

.w {
  color: $purple-300;
}
.e {
  color: $cyan-300;
}
.l {
  color: $orange-400;
}
.c {
  color: $green-300;
}
.o {
  color: $red-400;
}
.m {
  color: $orange-500;
}
