@use '../styles/colors' as *;

.main {
  background-color: $dark-blue-800;
  flex-grow: 1;
  color: $slate-300;
}

.header,
.footer {
  background-color: $dark-blue-900;
}

.header {
  height: 5rem;
}

.footer {
  height: 3rem;
}
