.main {
  background-color: var(--dark-blue-800);
  flex-grow: 1;
  color: var(--slate-300);
}

.header,
.footer {
  background-color: var(--dark-blue-900);
}

.header {
  height: 5rem;
}

.footer {
  height: 3rem;
}
